<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>144858580413-esnvq6q9cd0qlu5kefp0n8nh5d3lvhuh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.144858580413-esnvq6q9cd0qlu5kefp0n8nh5d3lvhuh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>144858580413-nagd61ge4muj9ohr52dprgok8r79e7pp.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAbf61ZDIAEeqXvlYB9NlV4fdvAYryL0qA</string>
	<key>GCM_SENDER_ID</key>
	<string>144858580413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.montuani.adote.patinhas</string>
	<key>PROJECT_ID</key>
	<string>adote-patinhas</string>
	<key>STORAGE_BUCKET</key>
	<string>adote-patinhas.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:144858580413:ios:26695650a6f5a06d65bed4</string>
</dict>
</plist>